.gpt3__cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background: var(--gradient-bar);

  padding: 2rem;
  margin: 4rem;
}

.gpt3__cta-content h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
}

.gpt3__cta-content p {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
}

.gpt3__cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.gpt3__cta-button button {
  border-radius: 40px;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  min-width: 150px;

  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .gpt3__cta {
    flex-direction: column;
  }

  .gpt3__cta-button {
    margin: 2rem 0 0;
  }
}

@media only screen and (max-width: 550px) {
  .gpt3__cta {
    margin: 4rem 2rem;
  }

  .gpt3__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }

  .gpt3__cta-button button {
    font-size: 14px;
    line-height: 28px;
  }
}
